Python

1- write a Python program to swap first and last element of the list.

In [7]:
def swaplist(newlsit):
  newlsit[0], newlsit[-1] = newlsit[-1], newlsit[0]
  return newlsit
x=[12,14,67,23,2444]
print(swaplist(x))

[2444, 14, 67, 23, 12]

Other approach

In [8]:
def swap(value):
  start, *middle, end = value
  value = [end, *middle, start]
  return value
y= [13.1, 19,90,45,56]
print(swap(y))

[56, 19, 90, 45, 13.1]

2- Find the Length of a list

In [10]:
x=[12,14,16,17,89,23]
print('Lenth of list :-', len(x))

Lenth of list :- 6

In [13]:
# other approach 
x= [12,14,16,78,90,75,67,89]
counter = 0
for i in x:
  counter +=1
print("Counter of list is :", str(counter))

Counter of list is : 8

3- Find Maximum of two numbers

In [17]:
a=45;b=13
def max_number(x,y):
  if x > y:
    return f'{x} is grater'
  else:
    return f'{y} is grater'
print(max_number(a,b))

45 is grater

In [18]:
a=24
b=45 
maximum = max(a,b)
print('max number is :',maximum)

max number is : 45

4- Find Minimum of two numbers

In [19]:
a = 12 
b = 34 
minimum = min(a,b)
print(minimum)

12

In [23]:
# other approach
a=12 ; b=9 
print(a if a<b else b)

9

In [25]:
# if number is same 
a = 12 ; b=12 
print('grater' if a>b else('both same' if a==b else b) )

both same

In [29]:
# using lambda function
a= 12; b= 10
grater = lambda x,y: x if x>y else y
print(grater(a,b))

12

In [30]:
a= 12; b= 12
details = lambda x,y: x if x>y else('both are same' if x==y else y)
print(details(a,b))

both are same

Check if element exists in list in Python
Input: test_list = [1, 6, 3, 5, 3, 4]
            3  # Check if 3 exist or not.
Output: True

In [34]:
test_list = [1, 6, 30, 5, 33, 4]
if 3 in test_list:
  print('exist')
else:
  print('not exist')

not exist

In [38]:
# using loop 
test_list = [1, 6, 30, 5, 33, 4]
for i in test_list:
  if (i == 3):
    print(' exist')

Remove items from a List in Python

In [40]:
x = [6, 0, 4, 1]
x.clear()
print(x)

[]

In [41]:
# other approach is assing blank in same value 
y = [1,2,3,4,5]
print('values of :', y)
y = []
print('value of y :',y)

values of : [1, 2, 3, 4, 5]
value of y : []

In [45]:
# remove a specific value
y = [1,2,3,4,5]
y.remove(y[0])
print(y)

[2, 3, 4, 5]

Reverse a List in Python

In [48]:
z = [4, 5, 6, 7, 8, 9]
new_list=z[::-1]
print(new_list)

[9, 8, 7, 6, 5, 4]

In [49]:
# other approach
z = [4, 5, 6, 7, 8, 9]
z.reverse()
print("using revers() :",z)

using revers() : [9, 8, 7, 6, 5, 4]

Cloning or Copying a list -- sciling, extend, copy, = operator

In [50]:
def clone_list(newlist):
  newlist = newlist[:]
  return newlist

list_1 = [4, 5, 6, 7, 8, 9]
print('copy list is :', clone_list)

copy list is : [4, 5, 6, 7, 8, 9]

In [51]:
# Using Extend Methods 
def colneing(lis):
  list_copy = []
  list_copy.extend(lis)
  return list_copy

list_1 = [4, 5, 6, 7, 8, 9]
print('cloneing a list :',colneing(list_1))

cloneing a list : [4, 5, 6, 7, 8, 9]

Count occurrences of an element in a list,

In [54]:
def count_occurence(lst,x):
  count = 0
  for i in lst:
    if i == x:
      count = count+1
  return count

lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
count_occurence(lst, 11)

0

In [57]:
# using collection methods for counter 
from collections import Counter
lst = ['a','b','b','c','c','c','d','d',1,1,1,1,1,1]
counter = dict(Counter(lst))
print(counter)

{'a': 1, 'b': 2, 'c': 3, 'd': 2, 1: 6}

In [58]:
# usning for loop 
lst = ['a','b','b','c','c','c','d','d',1,1,1,1,1,1]
frequecy = {}
for i in lst:
  if i in frequecy:
    frequecy[i] += 1
  else:
    frequecy[i] = 1
print(frequecy)

{'a': 1, 'b': 2, 'c': 3, 'd': 2, 1: 6}

In [64]:
# using pandas 
import pandas as pd 
l = ['a', 'a', 'b', 'b', 'b', 3, 3, 4, 4, 5, 5]
count = pd.Series(l).value_counts()
print(count)

b    3
a    2
3    2
4    2
5    2
dtype: int64

Python Program to find sum and average of List in Python

In [65]:
l = [4,5,23,1,2,9,9,20]
sum_of_list = sum(l)
average_list = sum_of_list/ len(l)
print('sum of list', sum_of_list)
print('average of list',average_list)

sum of list 73
average of list 9.125

In [66]:
# Using statistics method 
import statistics as st
l = [4,5,23,1,2,9,9,20]
sum1 = sum(l)
average = st.mean(l)
print('sum of list :', sum1)
print("average of list :",average)

sum of list : 73
average of list : 9.125

In [67]:
# using numpy 
import numpy as np 
l = [4,5,23,1,2,9,9,20]
sum_list = np.sum(l)
average_list = np.average(l)
print('sum of list :', sum_list)
print("average of list :",average_list)

sum of list : 73
average of list : 9.125

Python | Sum of number digits in List

In [74]:
numbers = [90,45,67,78,90,123,345,12222]
results = []
for number in numbers:
  digit_sum = 0
  for digit in str(number):
    digit_sum += int(digit)
  results.append(digit_sum)
print(results)

[9, 9, 13, 15, 9, 6, 12, 9]

In [77]:
def digit_sum(list_num):
  results = []
  for number in list_num:
    sum_ = 0
    for digit in str(number):
      sum_ += int(digit)
    results.append(sum_)
  return results
x = [11,34,56,67]
print(digit_sum(x))

[2, 7, 11, 13]

In [79]:
# using reduce 
from functools import reduce
l = [21,91,92,72,82,73,63,4,54,35,125]
res= [reduce(lambda x, y: int(x)+ int(y), list(str(i))) for i in l]
print('sum of digit', res)

sum of digit [3, 10, 11, 9, 10, 10, 9, '4', 9, 8, 8]

Python | Multiply all numbers in the list

In [81]:
def multiply(mylsit):
  results =1 
  for x in mylsit:
    results = results * x
  return results

list1 = [1, 2, 3]
list2 = [3, 2, 4,3]
print('multyply is :', multiply(list1))
print('multyply is :', multiply(list2))

multyply is : 6
multyply is : 72

In [87]:
# using numpy 
import numpy as np 
list2= [3,5,6]
result = np.prod(list2)
print(result)

90

In [90]:
# using functools 
from functools import reduce
list2=[12,3,4]
res = reduce((lambda x,y: x*y), list2)
print('multification is :', res)

multification is : 144

In [91]:
# using math
import math 
lsit1=[2,3,4,5]
resu = math.prod(lsit1)
print(resu)

120

Python program to find smallest number in a list

In [93]:
list1 = [3,4,12,45,6,11,0.2]
list1.sort()
print('smallest element is:', list1[0])

smallest element is: 0.2

In [95]:
# using min 
list1 = [3,4,12,45,6,11,0.2]
print('smallest element is:', min(list1))

smallest element is: 0.2

In [96]:
# reduce 
from functools import reduce
list1 = [3,4,12,45,6,11,0.2]
print(reduce(min,list1))

0.2

In [97]:
# using numpy for it 
import numpy as np 
list1 = [3,4,12,45,6,11,0.2]
mini = np.min(list1)
print('smallest number is:', mini)

smallest number is: 0.2

Python program to find second largest number in a list

In [101]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
second = list(set(list1))
second.sort()
print('second largest element is:', second[-2])

second largest element is: 45